# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
*.csv
*.zip
*.tar.gz
dataset/
data/

# Model Weights
*.pt
*.pth
*.h5

# OS
.DS_Store
Thumbs.db
